<!DOCTYPE html>
<html>

<head>
  <% include ../partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <% include ../partials/template/header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Example Index</h2>
        </div>
      </div>
    </div>
    <!-- container -->
    <% include ../partials/template/jsdefaults.ejs %>
</body>

</html>